@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be in OKLCH format for perceptual consistency.
*/

@layer base {
  :root {
    --font-size: 16px;
    --background: 0 0% 100%;
    --foreground: 264.53 0 14.5%;
    --card: 0 0% 100%;
    --card-foreground: 264.53 0 14.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 264.53 0 14.5%;
    --primary: 264.53 0.024 11.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264.53 0.0058 95%;
    --secondary-foreground: 264.53 0.024 11.8%;
    --muted: 264.53 0.005 92.5%;
    --muted-foreground: 264.53 0.008 44.5%;
    --accent: 240 0.007 93.5%;
    --accent-foreground: 264.53 0.024 11.8%;
    --destructive: 25.723 0.235 53.5%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0% / 0.1;
    --input: 0 0% 0% / 0;
    --input-background: 264.53 0.004 95.3%;
    --switch-background: 240 0.019 82.5%;
    --ring: 0 0% 70.8%;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --chart-1: 41.116 0.222 64.6%;
    --chart-2: 184.704 0.118 60%;
    --chart-3: 227.392 0.07 39.8%;
    --chart-4: 84.429 0.189 82.8%;
    --chart-5: 70.08 0.188 76.9%;
    --radius: 0.625rem;
    --sidebar: 0 0% 98.5%;
    --sidebar-foreground: 264.53 0 14.5%;
    --sidebar-primary: 264.53 0.024 11.8%;
    --sidebar-primary-foreground: 0 0% 98.5%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 20.5%;
    --sidebar-border: 0 0% 92.2%;
    --sidebar-ring: 0 0% 70.8%;

    --font-sans: 'Work Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    --font-serif: 'Lora', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: 'Inconsolata', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 264.53 0 14.5%;
    --foreground: 0 0% 98.5%;
    --card: 264.53 0 14.5%;
    --card-foreground: 0 0% 98.5%;
    --popover: 264.53 0 14.5%;
    --popover-foreground: 0 0% 98.5%;
    --primary: 0 0% 98.5%;
    --primary-foreground: 0 0% 20.5%;
    --secondary: 0 0% 26.9%;
    --secondary-foreground: 0 0% 98.5%;
    --muted: 0 0% 26.9%;
    --muted-foreground: 0 0% 70.8%;
    --accent: 0 0% 26.9%;
    --accent-foreground: 0 0% 98.5%;
    --destructive: 25.723 0.141 39.6%;
    --destructive-foreground: 25.331 0.237 63.7%;
    --border: 0 0% 26.9%;
    --input: 0 0% 26.9%;
    --input-background: 0 0% 20.5%;
    --switch-background: 0 0% 32%;
    --ring: 0 0% 43.9%;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --chart-1: 264.376 0.243 48.8%;
    --chart-2: 162.48 0.17 69.6%;
    --chart-3: 70.08 0.188 76.9%;
    --chart-4: 303.9 0.265 62.7%;
    --chart-5: 16.439 0.246 64.5%;
    --sidebar: 0 0% 20.5%;
    --sidebar-foreground: 0 0% 98.5%;
    --sidebar-primary: 264.376 0.243 48.8%;
    --sidebar-primary-foreground: 0 0% 98.5%;
    --sidebar-accent: 0 0% 26.9%;
    --sidebar-accent-foreground: 0 0% 98.5%;
    --sidebar-border: 0 0% 26.9%;
    --sidebar-ring: 0 0% 43.9%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=' text-']), :not(:has([class^='text-'])))) {
    h1 {
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: 1rem;
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: 1rem;
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}